<header>
    <nav>
        <div class="nav-bar">
            <a href="#" id="openSideNav" class="brand"><i class="fas fa-bars"></i><span class="sc-rd-only">Menu</span></a>
            <a class="brand_name" href="#"><h1>Johnson Lu</h1></a>

            <ul class="social" role="group" aria-label="Social Media">
                <li>
                    <a href="https://www.linkedin.com/in/johlu1/" alt="LinkedIn">
                        <i class="fab fa-linkedin"></i><span class="sc-rd-only">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/JohnsonLu3" alt="GitHub">
                        <i class="fab fa-github-square"></i><span class="sc-rd-only">Github</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/yungbokchoy_arts/?hl=en" alt="instagram">
                        <i class="fab fa-instagram"></i><span class="sc-rd-only">instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>