h1{
    font-size: 24px;
    text-align: center;
}

.image-container{
    text-align: center;
    margin: auto;
}

img{
    max-height: 250px;
}

.external-links{
    position: absolute;
    right: 10px;
    bottom: 10px;
}