.filter-chip{
    margin: 2px;
    border-radius: 20px;
    width: fit-content;
    color: white;
    background-color: #3a5a01;

    p{
        padding: 2px 10px;
        font-weight: 700;
        text-transform: capitalize;
        font-family: "roboto";
        margin: 0;
    }
}

.Java { background-color :  #ff0000;}
.Python { background-color :  #d24d57;}
.MySQL { background-color :  #d47500;}
.React { background-color :  #00aa55;}
.Js { background-color :  #008b8b;}
.CPP { background-color :  #205e3b;}
.CSHARP { background-color :  #436e43;}
.jQuery { background-color :  #500000;}
.AWS { background-color :  #e74c3c;}
.Angular { background-color :  #ae59b6;}
.Bootstrap { background-color :  #8859b6;}
.Django { background-color :  #886288;}
.Webpack { background-color :  #674172;}
.Gradle { background-color :  #67809f;}
.Css3 { background-color :  #008080;}
.HTML5 { background-color :  #34495e;}