@import '../../assets/color.scss';

.close{
    transform: translateX(-1000px);
    display: none;
}

#sidenav{
    transition: ease-in .5s;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 20%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 10px 9px 25px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 9px 25px 0px rgba(0,0,0,0.22);
    box-shadow: 10px 9px 25px 0px rgba(0,0,0,0.22);

    h1{
        font-size: 2.5rem;
        background-color: rgb(7, 71, 166);
        color: white;
        padding: 20px;
    }

    h2{
        font-size: 2rem;
        padding: 0 20px;
        color: $off-black;
    }

    li{
        padding: 5px 25px;
        a{
            color: $off-black;
            font-size: 1rem;
        }
    }

    li:hover{
        background-color: grey;
        a{color: white;}
    }
}

#dismissNav{
    color: white;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    font-size: 24px;;
    padding: 10px;
}